* {
  box-sizing: border-box;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 30px;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 15px;
}

dialog {
  border: none;
  margin: auto;
  border-radius: 25px;
}

input {
  margin-bottom: 15px;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

.new-book {
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.book {
  background-color: lightgray;
  box-shadow: 1px 1px 1px black;
  border-radius: 25px;
  padding: 30px;
  border-left: 25px solid red;
}

.book button {
  margin-right: 30px;
}

.read {
  border-left: 25px solid green;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.buttons {
  text-align: center;
}